.hp_about {
    margin-top: 50px;

    &__roll {
        padding: 8px 22px;
        border: 3px solid $color-white;
        position: relative;
        text-transform: uppercase;
        text-align: center;

        &::after {
            content: ' ';
            position: absolute;
            top: 2.5px;
            left: -10px;
            right: 3px;
            bottom: -10px;
            border: 3px solid white;
        }
    }

    &__content {
        margin: 100px auto 0px;
        position: relative;
        justify-content: space-between;
        display: flex;
        align-items: center;

        .hp_about__content--txt {
            height: 100%;
            width: 550px;

            h1 {
                font-size: 60px;
                letter-spacing: 5px;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0);
                -webkit-text-stroke-width: 3px;
                -webkit-text-stroke-color: $color-white;
                display: inline;
            }

            h1:hover {
                color: white;
                transition: .2s;
            }

            p {
                font-size: 18px;
                font-weight: 300;
                width: 450px;
                margin: 20px 0;
            }

            a {
                color: $color-white;
                text-decoration: none;
                font-size: 16px;
                width: 130px;
            }
        }

        .hp_about__content--img {
            width: 450px;

            img {
                width: 100%;
            }
        }
    }
}

.divided {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 100px 0;

    &__big {
        height: 100%;
        width: 100%;
        background-color: $color-white;
    }

    &__small {
        height: 50%;
        width: 100%;
        background-color: $color-white;
    }
}

.divided-down {
    align-items: flex-end;
}

.divided-up {
    align-items: flex-start;
}

.bars {
    width: 200px;

    &__small {
        background-color: $color-white;
        height: 5px;
        margin: 10px 0;
    }
}

.hp_news {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__txt {
        height: 100%;

        h2 {
            font-size: 50px;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: $color-white;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: $color-white;
            display: inline;
            transition: .2s;
        }

        h2:hover {
            color: rgba(0, 0, 0, 0);
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: $color-white;
        }

        p {
            font-size: 18px;
            font-weight: 300;
            width: 450px;
            margin: 20px 0;
        }

        a {
            color: $color-white;
            text-decoration: none;
            font-size: 16px;
            width: 130px;
        }
    }
}

.bar {
    margin: 100px 0;

    img {
        width: 100%;
    }
}

.hp_diamond {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .txt_one {
        font-size: 60px;
        font-weight: 600;
        top: 150px;
        right: 280px;
        position: absolute;
        z-index: 1;
    }

    .txt_two {
        font-size: 60px;
        font-weight: 600;
        bottom: 80px;
        left: 280px;
        position: absolute;
        z-index: 1;
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $color-white;
    }

    .page--three {
        .three-container {
            canvas {
                width: 100% !important;
                height: 25% !important;
            }
        }
    }
}

.hp_cases {
    h2 {
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $color-white;
        display: inline;
    }

    h2:hover {
        color: white;
        transition: .2s;
    }

    &__cases {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .cases_case {
            margin: 50px 0;

            h3 {
                font-size: 20px;
                // letter-spacing: 2px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            &__img {
                width: 500px;
                height: 250px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                border: 3px solid $color-white;
                position: relative;
                text-transform: uppercase;

                &::after {
                    content: ' ';
                    position: absolute;
                    top: 2.5px;
                    left: -10px;
                    right: 3px;
                    bottom: -10px;
                    border: 3px solid white;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &__button {
        width: 100%;
        display: block;
        display: flex;
        justify-content: center;

        a {
            color: $color-white;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 450px) {
    .hp_about {
        margin-top: 25px;

        &__roll {
            display: none;
        }

        &__content {
            margin-top: 25px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .hp_about__content--txt {
                width: 100%;

                h1 {
                    font-size: 30px;
                    color: $color-white;
                    -webkit-text-stroke-width: 0px;
                }

                p {
                    width: 100%;
                    margin: 10px 0;
                }

                a {
                    font-size: 12px;
                    width: 100%;
                }
            }

            .hp_about__content--img {
                width: 100%;
                margin-top: 25px;
            }
        }
    }

    .divided {
        margin: 25px 0;
        height: 25px;
    }

    .hp_news {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &__txt {
            h2 {
                font-size: 25px;
                -webkit-text-stroke-width: 0px;
            }

            h2:hover {
                color: $color-white;
            }

            p {
                width: 100%;
                margin: 10px 0;
            }

            a {
                font-size: 12px;
                width: 100%;
            }
        }

        .bars {
            // display: none;
            width: 100%;
            margin-top: 25px;
        }
    }

    .hp_diamond {
        &__txt {
            display: none;
        }
    }

    .bar {
        margin: 25px 0;
    }

    .hp_cases {
        h2 {
            font-size: 25px;
            color: $color-white;
            -webkit-text-stroke-width: 0px;
        }

        &__cases {
            .cases_case {
                width: 100%;
                margin: 25px 0;

                h4 {
                    font-size: 20px;
                    letter-spacing: 5px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                &__img {
                    width: 100%;
                }
            }
        }
    }
}